ignore

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Notebooks
.ipynb_checkpoints

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_EMMA_MACHIELSE - Emma Maggie.ipynb

Assignments/ASSIGNMENT-2_ANSWERS.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_Areumbyeol_Kim - A Kim.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_BRIDGET_OLIVEIRA-Copy1 - Bridget Oliveira.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_ERIK_LINDER-NOREN.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_Jenia_Kim - D J Kim.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_JULIETTE_VANDERVOET - Juliëtte van der Voet.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_Karen_Goes - Karen Goes.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_LESIA_TKACZ - Lesia Tkacz.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_LINGQIU_WANG - Jeremy Wang.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_Marcello_Romagnoli - Marcello Romagnoli.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_MAX_RENSBURG - Max Rensburg-Copy1.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_MAX_RENSBURG - Max Rensburg.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_Mick_IJzer - Mick IJzer.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_MINA_LEE - 이민아.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_MUHLISBURAK_CINDIK - Burak Cındık.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_NGAN_NGUYEN - Nguyễn Ngọc Tố Ngân.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_NUR_INDA_JAZILAH - Nur Inda Jazilah.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_Rebecca_Sepers - Rebecca Sepers.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_STEVEN_KUHNEN - Steven Kuhnen.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_SUZANA_BASIC - Suzana Bašić.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT_1_THOMAS_KLEIN - Thomas Klein.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT-1_Jing_Qin - jing qin.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT-1_Seojin_Lee - Seo Jin Lee.ipynb

Assignments/ASSIGNMENT_1_SUBMISSIONS/ASSIGNMENT-1_Yi-Ting_Lin - YT Lin.ipynb

Assignments/ASSIGNMENT-1_ANSWERS.ipynb

Chapters/Chapter 10 - Dictionaries.ipynb

Chapters/Chapter 10 - Dictionaries.ipynb

Class_Notes/Class Notes 6-11-2017 (ASSIGNMENT-1).ipynb

Class_Notes/Untitled.ipynb
